<ng-container>
  <div class="d-flex justify-content-center mb-5">
    <img src="assets/payments/payments.png" alt="" class="payment-img" />
  </div>
  <footer class="footer_container py-5 px-5">
    <div class="footer_menu">
      <div>
        <p class="font-size-18 bold">Tr1pp</p>
        <p>Case Studies</p>
        <p>FAQ</p>
      </div>
      <div>
        <p class="font-size-18 bold">Shoppers</p>
        <p>One Stores</p>
        <p>Shopping App</p>
      </div>
      <div>
        <p class="font-size-18 bold">Business</p>
        <p>Become a Partner</p>
        <p>Developers</p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img
        src="assets/DEMOSTORE/DEMOSTORE.png"
        alt=""
        class="demo_footer-logo"
      />
    </div>
  </footer>
</ng-container>
